<?xml version="1.0"?>

<PLUGIN>
<NAME>python_http_handler</NAME>
<TYPE>generics</TYPE>
<VERSION>0.1</VERSION>
<AUTHOR>The MyServer Team</AUTHOR>
<MAINTAINER>The MyServer Team</MAINTAINER>
<DESCRIPTION>This plugin permits to use python as handler</DESCRIPTION>
<DEPENDS>executors::python</DEPENDS>
</PLUGIN>
