<?xml version="1.0"?>

<PLUGIN min-version="0.9" max-version="0.9">
<NAME>rules_checker</NAME>
<VERSION>0.1</VERSION>
<AUTHOR>The Free Software Foundation Inc.</AUTHOR>
<MAINTAINER>The Free Software Foundation Inc.</MAINTAINER>
<DESCRIPTION>Validate HTTP request using a custom language</DESCRIPTION>
</PLUGIN>
