h1         {font-size:32;font-family: Arial; color: #000000; background-color: #FFFFFF;text-align: center }
body         {font-size:12;font-family: Arial; color: #000000; background-color: #FFFFFF }
address         {font-size:14; font-family: Arial; color: #000000; background-color: #FFFFFF;text-align:right }

