<?xml version="1.0"?>

<PLUGIN min-version="0.9" max-version="0.9">
<NAME>http_checker</NAME>
<VERSION>0.1</VERSION>
<AUTHOR>The Free Software Foundation Inc.</AUTHOR>
<MAINTAINER>The Free Software Foundation Inc.</MAINTAINER>
<DESCRIPTION>This plugin permits to validate HTTP requests using python</DESCRIPTION>
<DEPENDS min-version="0.1" max-version="0.1">python</DEPENDS>
</PLUGIN>
