<?xml version="1.0"?>

<PLUGIN>
<NAME>http_checker</NAME>
<TYPE>generics</TYPE>
<VERSION>0.1</VERSION>
<AUTHOR>The MyServer Team</AUTHOR>
<MAINTAINER>The MyServer Team</MAINTAINER>
<DESCRIPTION>This plugin permits to validate HTTP requests using python</DESCRIPTION>
<DEPENDS>executors::python</DEPENDS>
</PLUGIN>
